@using WebMoneda4_5.ViewModels
@model WebApplicationTrabajoFinalMvc.ViewModels.ConversorIndexViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Conversor de monedas</h1>

@using (Html.BeginForm())
{
    @Html.DropDownListFor(m => m.MonedaOrigen, new SelectList(Model.ListaMonedas), "Selecciona Moneda Origen")
    @Html.DropDownListFor(m => m.MonedaDestino, new SelectList(Model.ListaMonedas), "Selecciona Moneda Destino")
    <input name="importe" />
    <input type="submit" name="submitButton" value="Submit" />
}



@if (!string.IsNullOrEmpty(Model.MonedaOrigen))
{
    <h3>Moneda de origen seleccionada: @Model.MonedaOrigen</h3>
}

@if (!string.IsNullOrEmpty(Model.MonedaDestino))
{
    <h3>Moneda de destino seleccionada: @Model.MonedaDestino</h3>
}

@if (!string.IsNullOrEmpty(Model.Importe))
{
    <h3>Importe seleccionada: @Model.Importe</h3>
}

@if (!string.IsNullOrEmpty(Model.Resultado))
{
    <h3>El resultado de la conversión es el siguiente: @Model.Resultado @Model.MonedaDestino</h3>
}

<!-- <p>Submitted value: @ViewBag.SubmittedValue</p> -->